<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Loan Prediction</title>
	<link rel="stylesheet" href="static/home.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<div class="navbar">
		
		<nav>
			<ul>
			    <li><a href="home.html">Home</a></li>
				<li><a href="About.html">About</a></li>
                <li><a href="procedure.html">Procedure</a></li>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="login.html">User login</a></li>
                <li><a href="bank login.html">Bank login</a></li>
				</ul>
		</nav>
		</div>
		<div class="content">
			 <h1>Smart Lender - Applicant Credibility Prediction For Loan Approval </h1>
			<p> Predit your loan eligibility here</p><br><br>
			<a href="prediction.html" class="btn">PREDICT</a>
			<br><br>
			<h2>Team ID -PNT2022TMID40198</h2><br>
			<h3>Team members</h3>
			<p>SHARMILA S</p>
			<p>JANANI K</p>
			<p>SUVALASHMI K</p>
			<p>MONISHA R </p>
			
		  
		</div>
	  
</div>
</body>
</html>